[submodule "panda"]
  path = panda
  url = ../../commaai/panda.git
[submodule "opendbc_repo"]
  path = opendbc_repo
	url = https://github.com/notAPanda/opendbc.git
	branch = 23_civic_hybrid_europe
[submodule "msgq"]
  path = msgq_repo
  url = ../../commaai/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = ../../commaai/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = ../../commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/tinygrad/tinygrad.git
